.footer-section {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height:50px;
    background-color: #25282b;
    color: white;
    text-align: center;
}

.footer-wrapper {
    display: flex;
}