<!-- Body Section -->

<p>Windows Desktop Icons.</p>

<!-- Footer Section -->

<section class="footer-section">
  <footer>
    <div class="footer-wrapper">
      <!-- Footer windows Icon -->
      <app-footer-windows-icon></app-footer-windows-icon>

      <!-- Footer Search Bar -->
      <app-footer-serach-bar></app-footer-serach-bar>

      <!-- Footer Apps List -->
      <app-footer-apps-list></app-footer-apps-list>

      <!-- Footer Action Toggles -->
      <app-footer-action-toggle></app-footer-action-toggle>
    </div>
  </footer>
</section>